body
{
    background-color: #FFF4CB;

}

.recipes h1
{
    text-align: center;
    font-family: 'Satisfy', cursive;
    color: #438D37;
    font-weight: bold;
    font-size: 50px;

}

.line
{
    width: 90%;
    height: 2px;
    background-color: #3C5A45;


}

.hgr
{
    margin-left: 60px;
    margin-top: 50px;
    font-family: 'Cinzel', serif;


}

.fig
{
    margin-left: 250px;
    margin-top: 150px;
    
}

.description
{
    font-family: 'Dosis', sans-serif;
}

.cashew
{
    margin-left: 350px;
    margin-top: 30px;
}
.tomato
{
    margin-left: 350px;
    margin-top: 30px;
}
.ginger
{
    margin-left: 350px;
    margin-top: 30px;
}

.paste
{
    margin-left: 350px;
    margin-top: 30px;
}

.puree
{
    margin-left: 350px;
    margin-top: 30px;
}

.butter
{
    margin-left: 350px;
    margin-top: 30px;
}

.tp
{
    margin-left: 350px;
    margin-top: 30px;
}

.cook
{
    margin-left: 350px;
    margin-top: 30px;
}
.chilli
{
    margin-left: 350px;
    margin-top: 30px;
}


.pbm
{
    margin-left: 350px;
    margin-top: 30px;
}

.water
{
    margin-left: 350px;
    margin-top: 30px;
}

.sugar
{
    margin-left: 350px;
    margin-top: 30px;
}

.add
{
    margin-left: 350px;
    margin-top: 30px;
}

.final
{
    margin-left: 350px;
    margin-top: 30px;
}

.p1
{
    margin-left: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #3C5A45;
    
}
.p2
{
    margin-left: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #3C5A45;
    
}
.p3
{
    margin-left: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #3C5A45;
    
}
.p4
{
    margin-left: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #3C5A45;
    
}
.p5
{
    margin-left: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #3C5A45;
    
}
.p6
{
    margin-left: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #3C5A45;
    
}
.p7
{
    margin-left: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #3C5A45;
    
}
.p8
{
    margin-left: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #3C5A45;
    
}
.p9
{
    margin-left: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #3C5A45;
    
}
.p10
{
    margin-left: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #3C5A45;
    
}
.p11
{
    margin-left: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #3C5A45;
    
}
.p12
{
    margin-left: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #3C5A45;
    
}
.p13
{
    margin-left: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #3C5A45;
    
}
.p14
{
    margin-left: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #3C5A45;
    
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #3C5A45;
    color: white;
    margin-top: 50px;
  }